/* basic */

body {
	text-align: center;
}

 p {
	padding: 10px;
	margin: 0px;
} 

ul {
	list-style-type: none
}

.bg-one {
	background-color: lightblue
}

.bg-two {
	background-color: lightgreen
}


/* Player */

#player-container {
	background: black;
	padding: 40px 0px 40px 0px;
	text-align: center;
}

#player {
	width: 80%;
	height: width * 9 / 16;
	min-height: 350px;
}


/* room info  */

#room-info {
	background: grey;
	text-align: center;
}

/* controler */

#searchKeyword {
	width: 50%;
	min-width: 100px;
}

.videoInfo {
	border-color: lightgrey;
	border-width: 5px;
	display: inline-flex;
	justify-content: left;
	align-items: center;
	padding: 10px;
}