<!DOCTYPE html>
<html>
 <head>
   <title>ampee3</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
     <link rel="stylesheet" href="specimen_files/specimen_stylesheet.css" type="text/css" charset="utf-8" />
      <link rel="stylesheet" type="text/css" href="/styles.css">
      <style type="text/css">
	
	body{
	font-family: 'riffic-bold';
	}
     </style>
</head>
	
<body>
	<div>
            {{{body}}}
        </div>
		  
       
	
</body>
</html>