<!DOCTYPE html>
<html>
	<head>
        <title>ampee3</title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
	</head>
	<body>
		<div>
            {{{body}}}
        </div>
		  
        <script src="script.js"></script>
	
	</body>
</html>