<!DOCTYPE html>
<html>
	<head>
        <title>ampee3</title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
	</head>
	<body>
		<div>
            {{{body}}}
        </div>
        <script
  		src="https://code.jquery.com/jquery-3.2.1.min.js"
  		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  		crossorigin="anonymous"></script>
		  
        <script src="script.js"></script>
	
	</body>
</html>