{{!-- This is the first page people see after login--}}
<h2>
	<a href="/">HOME</a> 
	<a href="/logout">LOG OUT</a>
		{{!-- <a href="/joinparty">Join a Party!</a> --}}
</h2>
			
<h2>Choose if you want to be a DJ or just join a party !</h2>

<button><a href="/account"><h3>Become a DJ!</h3></a></button>
<br>
<br>
<img src = 'spotify-logo.png'; width = '150px';>
<br>
<br>
<button><a href="/joinparty"><h3>I just want to join a room!</h3></a> </button>