
<body style="background-image: url('./djback.jpg')">

  <div class="modal fade" id="DJ_in">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Enter DJ room name</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              
            </button>
        </div>
        <div class="modal-body">
          <h3>Please enter your room name (No space allow!)</h3>
          <input id="room_text" value=''></input><span id="warn"></span>
        </div>
        <div class="modal-footer">
          <button type="button" id="room_name" class="btn btn-primary">Launch My Room!</button>
          <a href='/'><button type="button" class="btn btn-secondary">Later...</button></a>
        </div>
      </div>
    </div>
  </div>


	<!-- player -->
	<h1 class='roomInfo' roomID=''></h1>
	<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
	<div id="player"></div>

	<div id="info"></div>
	<div id="fire"></div>
	<div id="info2"></div>

	<!-- Room info: telling users audience number and who is taking control -->
	{{!-- <div id="room-info container-fluid">
		<p class="grid-row col-xs-4 bg-one" id="eyeIcon">&#128065;</p>
		<p class="grid-row col-xs-8 bg-two">You are taking control</p>
	</div> --}}
	<!-- UI of searching and adding songs -->
	<div id="controler container-fluid">
		<div id="playlist-container" class="grid-row col-lg-4 col-md-4 col-sm-4 col-xs-12 bg-two">
			<h5>Next Song: </h5>
			<ul id="playlist">

			</ul>
		</div>
		<div id="search-container" class="grid-row col-lg-8 col-md-8 col-sm-8 col-xs-12 bg-one">
			<form id=search-box>
				<input id="searchKeyword" autocomplete="off" placeholder="search" /> <button id="goSearch">&#x1F50D;</button>
			</form>
			<ul id=search-result>
			</ul>
		</div>
	</div>
	<!-- end of div controler -->
	<!-- script -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
	<script src="../djRoom_search_and_playlist.js"></script>
	<script src="../dj_sync_socket.js"></script>
	<script src="https://apis.google.com/js/client.js?onload=init"></script>

</body>
