{{!-- index:very first page --}}

		{{!-- <a href="/">HOME</a>  --}}
		{{!-- <a href="/login">LOG IN</a> --}}
		{{!-- <a href="/joinparty">Join a Party!</a> --}}
    
<div class ="homepage">

	<h1 class ="size 80"> ampee 3</h1> <br><br> 

</div>		
<div>

	<h2 class="size90"> Transmitting vibes <br> Uniting People </h2>

</div>
	
<br>
<br>
<a href="/login"><img src="playbutton.png" width="200px"></a> 
