
	<h2>
		<a href="/">HOME</a> 
		<a href="/login">DJ Log In</a>
		<a href="/joinparty">Join a Party!</a>
    </h2>
			
<h1>Welcome to ampee3! <br> Where the same beat is felt <br> Please log in.</h2>

	
