{{!-- index:very first page --}}

		{{!-- <a href="/">HOME</a>  --}}
		{{!-- <a href="/login">LOG IN</a> --}}
		{{!-- <a href="/joinparty">Join a Party!</a> --}}
    
<div class ="homepage">

	<h1 class ="size60"> ampee 3</h1> <br><br> 

</div>		
<div>

	<h2 class="size72"> Transmitting vibes <br> Uniting People </h2>

</div>
	
<br>
<br>
<a href="/login"><img src="playbutton.png" width="200px"></a>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script> 
<script>
	  TweenMax.to("img", 0.5,{
                x: Math.random()*10,
                y: Math.random()*10,
                opacity: 0.7,
                repeat: -1, 
				yoyo: true, 
				ease: RoughEase.ease.config({ template:  Power0.easeNone, strength: 1, points: 20, taper: "none", randomize: true, clamp: false}),
				scale: 1.1
                
            });

		$('img').hover(()=>{
			 TweenMax.to("img", 0.5,{
                rotation: 360,
                repeat: -1, 
				ease: Power0.easeNone,
				
			})
		})
</script> 
