{{!-- index:very first page --}}
	<h2>
		<a href="/">HOME</a> 
		{{!-- <a href="/login">LOG IN</a> --}}
		{{!-- <a href="/joinparty">Join a Party!</a> --}}
    </h2>
			
<h2>Welcome to ampee3! <br> Where the same beat is felt <br></h2>

	<button><a href="/login"><h3>login!</h3></a> </button>
