<style>
    .room-box {
        min-width: 260;
        min-height: 300;
        justify-content: center;
        align-items: center;
    }
</style>

    <h3>Select the Room You Want to Join</h3>
    <button id="re-syncParty">&#8634;</button>

<div id="allRooms" class="container-fluid"></div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
<script src="../djRoom_search_and_playlist.js"></script>
<script src="../dj_sync_socket.js"></script>
<script src="../ytSelectRoom.js"></script>
<script src="https://apis.google.com/js/client.js?onload=init"></script>
<script src="./sf_ct_socket.js"></script>


    {{!-- <div id ="playlist">
        
        <h4>Your playlist name:{{name}}</h4>
        <h5>Your sportify playlistID:{{listid}}
        <br>Your selected songs are shown below</h5>
        <h5 id="list_ofSongs"></h5>
      
    </div> --}}
{{!--     
    <div id='control'>
        
        
        <button id=getplaylist><h3>GET playlist</h3></button> <br>
    
        
            <form action="getplaylist" method="post">
                <input type="text" name="get_playlist" placeholder="enter your friend'susername" />
                <input type="submit" name="Get playlist" value="getplaylist">
            </form>
            <p>You are now playing  {{name}}'s playlist!</p>
    </div>     --}}
    
    {{!-- <div id ="playlist">
    
        <h5 id="list_ofSongs"></h5>
      
    </div> --}}
    
    <div id='test'></div>



<script src="https://code.jquery.com/jquery-3.2.1.min.js"integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>

<script>
    var socket = io('/djroom');
    socket.emit('new client', '{{room}}', "sportify");
    //socket.on('say', (msg)=>{$('#test').append(`<h3 style="color: white">Server say ${msg} </p></h3>`)})

    socket.on('sf_play', (date_info,data) => {

        $.ajax({
        type: 'GET',
        url: '/syncParty',
        data: {date: date_info, info: data}
		}).done(function( data ) {
			if (data != null) {
			$("#error").html( "You might need to be a premium member to access this feature" );  
			}
		});


    })

    $('#re-syncParty').on('click', ()=>{
        $.ajax({
				type: 'GET',
				url: '/syncDJ',
				data: {}
				}).done(function( data ) {
					if (data != null) {
					$("#error").html( "You might need to be a premium member to access this feature" );  
					}
					console.log(`data_ID: ${data.songID}, data_duration: ${data.songDuration}` )
					socket.emit('sf_play', Date.now(), data)
					console.log(`emitted the first date time: ${Date.now()}`)
		
			}, 2000);
    })

</script>
