
<div>
    <h2>
    <a href="/">Back</a> 
    </h2>
    <br>
<a href="/auth/spotify"><img src = 'spotify-login.png'; width = '300px';></a> <br> <br>
<a href='/youtube'><img src ='youtube.png'; width ='300px'></a>
</div>