
<div class ="login_div">
    <h2 class ="size30">
    <a href="/">BACK</a> 
    </h2>
    <br>
</div>

<div>
<a href="/auth/spotify"><img src = 'spotify-login.png'; width = '300px';></a> <br> <br>
<a href='/youtube'><img src ='youtube.png'; width ='250px';height="100px"></a>
</div>