<div class="wrapper">
	<div class='control'>
		<div id='dj_name'>
			{{user.displayName}}'s Room
		</div>

		<div id='now_playing'>
			<div class="now_playing_name"></div>
			<div class="now_playing_artist"></div>
		</div>

		<div id="progress_full">
			<div id="progress_bar"></div>
		</div>
	</div>

	<div class="background"></div>
</div>

<div class="playlist">
	
</div>