<style>
	.room-box {
		min-width: 260;
		min-height: 300;
		justify-content: center;
		align-items: center;
	}
</style>
 <div class ="login_div">
    <h2 class ="size30">
         Select the Room You Want to Join
	</h2>
</div>

<a href=""><img src="button-refresh.png" width="100px"></a>


<div id="allRooms" class="container-fluid">
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
<script src="https://apis.google.com/js/client.js?onload=init"></script>
<script src="../dj_sync_socket.js"></script>
<script src="./ytSelectRoom.js"></script>