body {
    background-image: url("music.jpg");
    background-repeat: no-repeat; 
    height: 1200px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center; 
}

h1 {
    color:lightseagreen;
    text-align: center;
}

h2,p,a {
    color: greenyellow;
    text-align: center;
}

h3{
    color: rgb(216, 63, 16);
    font-size:22px;
    text-align: center;
}

#error{
    color: rgb(216, 63, 16);
    font-size:14px;
    text-align: center;
}
h4{
    color:orange;
    font-size:22px;
    text-align: center;
}
h5{
    color:white;
    font-size:16px;
    text-align: center;
}

h6{
    color:gold;
    font-size:16px;
    text-align: center;
}
#pp{
    height:80px;
    width:170px; 
    margin-left: 10px;
    margin-bottom:10px;
    text-align: center;
}

#p1{
    height:80px;
    width:100px; 
    margin-left: 10px;
    margin-bottom:10px;
    text-align: center;
}

.flex {
    display: flex;
}

#control {
    width: 30%;
    margin-left: 10px;
    background-color: black;
}

#create {
    width: 40%;
    margin-left:30px;
}

.searching{
    background:black; 
}

#playlist {
    width: 30%;
    margin-left:30px;
    background-color:black;
}

input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
}

.song {
    width: 100px;
    border: solid blue 1px;
    margin: 5px;
}

.result{
    font-size: 10px;
    background:ghostwhite; 

}

#playbutton{
    background-color:gainsboro;
    height:80px;
    width:100px; 
    margin-left: 5px;
    margin-bottom:5px;
    text-align: center;
}

#pausebutton{
    background-color:gainsboro;
    height:80px;
    width:100px; 
    margin-left: 10px;
    margin-bottom:10px;
    text-align: center;
}