/* html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  } */

@font-face {
    
    font-family: 'riffic-bold';
    src: url('riffic-bold-webfont.woff2') format('woff2'),
         url('riffic-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
    background-image: url("Music_background.jpg");
    background-repeat: no-repeat; 
    height: 1200px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center; 
}

.title{
 font-size: 200%;
}

.homepage{
    margin:30px; 
}


h1 {
    color:lightseagreen;
    text-align: center;
}

h2,p,a {
    color: greenyellow;
    text-align: center;
}

h3{
    color: navy;
    font-size:16px;
    text-align: center;
}

#error{
    color: rgb(216, 63, 16);
    font-size:14px;
    text-align: center;
}
h4{
    color:navy;
    font-size:22px;
    text-align: center;
}
h5{
    color:navy;
    font-size:16px;
    text-align: center;
}

h6{
    color:white;
    font-size:16px;
    text-align: center;
}
h7{
    color:black;
    font-size:12px;
    text-align:center;
}
#top{
    margin:5px; 
}
#pp{
    height:80px;
    width:170px; 
    margin-left: 10px;
    margin-bottom:10px;
    text-align: center;
}

#p1{
    height:80px;
    width:100px; 
    margin-left: 10px;
    margin-bottom:10px;
    text-align: center;
}

.flex {
    display: flex;
}

#control {
    width: 30%;
    margin-left: 10px;
    background-color: darkcyan;
}

#create {
    width: 40%;
    margin-left:30px;
}

.searching{
    background:yellow; 
}

#playlist {
    background-color:darkcyan;
    margin:5px; 
}

input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
}

.song {
    width: 100px;
    border: solid blue 1px;
    margin: 5px;
}

.result{
    font-size: 10px;
    background:ghostwhite; 

}
.songlist{
    text-align:center; 
    align-content: center;
}
.result_ofsearch{
    background:silver;
}

.added{
    background:darkkhaki;
}

.delete_btn{
    background:red;
}
#play_button{
    background-color:gainsboro;
    height:80px;
    width:100px; 
    margin-left: 5px;
    margin-bottom:5px;
    text-align: center;
}

#pause_button{
    background-color:gainsboro;
    height:80px;
    width:100px; 
    margin-left: 10px;
    margin-bottom:10px;
    text-align: center;
}

#sync_party{
    background-color:gainsboro;
    height:80px;
    width:100px; 
    margin-left: 10px;
    margin-bottom:10px;
    text-align: center;
}

#sync_dj{
    background-color:gainsboro;
    height:80px;
    width:100px; 
    margin-left: 10px;
    margin-bottom:10px;
    text-align: center;
}

#seekposition_btn{
    background-color:gainsboro;
    height:80px;
    width:100px; 
    margin-left: 10px;
    margin-bottom:10px;
    text-align: center;
}

.seeking{
    background-color:gainsboro;
    margin:4px; 
}

#socket{
    background-color:gainsboro;
}

#search_result{
    font-size: 12px;
}